.Chat {
  text-align: center;
}

html,
body {
  height: 100%;
}

.button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  
  
  
}

.newBtn {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;
  

}
/* 
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
} */

.fixed-sidebar {
  padding: 10px;
  min-width: 300px;
  position: absolute;
  background-color: #282c34;
  height: 100%;
  /* bottom: 0; */
}

ul{
  list-style-type: none;
  text-align: left;
  width: 300px;
  margin: 0;
  padding: 0;
  height: fit-content;  
  position: absolute;
  bottom: 0;
  

}

.Chat .row {
  justify-content: center;
  width: 100%;
}

#message {
  position: relative;
}

#paperPlane {
  position: absolute;
  right: 25px;
  bottom: 10px;
  width: fit-content;
}

.interactive {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.interactive video {
  width: 100%;
}
