.Chat {
  text-align: center;
}

.Chat .row {
  justify-content: center;
  width: 100%;
}

#message {
  position: relative;
}

#paperPlane {
  position: absolute;
  right: 25px;
  bottom: 10px;
  width: fit-content;
}

.interactive {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.interactive video {
  width: 100%;
}