.Chat {
  text-align: center;
  position: relative;
}

html, body, #root, #root>div {
  height: 100%
}

.App {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.newBtn {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 190px;
}

.fixed-sidebar {
  position: relative;
  background-color: #282c34;
  height: 100%;
}

ul{
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  position: absolute;
  height: fit-content;
  bottom: 0;
}

.Chat .row {
  justify-content: center;
  width: 100%;
  margin: 0;
}

#message {
  position: relative;
}

#paperPlane {
  position: absolute;
  right: 25px;
  bottom: 10px;
  width: fit-content;
}

#interactive {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#interactive video {
  width: 100%;
}

.Message {
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  padding: 20px;
}

img {
  width: 50px;
  padding: 8px;
  background-color: #2A6F96;
}

.icon {
  color: white;
  background-color: #2A6F96;
  text-align: center;
  padding: 0.7em 1.3em;
}

.text {
  text-align: left;
  width: 100%;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#chatbar {
  position: absolute;
  bottom: 0;
}

#Signbar {
  display: none;
  margin-left: 1em;
}